<html>
    <head>
        <% include ./link.ejs %>
    </head>
    <body>
        <% include ./navbar.ejs %>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <% include ./sidebar.ejs %>
                </div>
                <div class="col-md-10">
                    <% include ./content.ejs %>
                </div>
            </div>
        </div>
    </body>
    <% include ./scripts.ejs %>
</html>